<h1>Rezept bearbeiten</h1>

<%= render "form", recipe: @recipe %>

<hr>

<div >
  <%= link_to "Rezept anschauen", @recipe, class: "btn btn-secondary" %>
  <%= link_to "Zurück zur Übersicht", root_path, class: "btn btn-secondary" %>
</div>
