<div id="<%= dom_id recipe %>">
  <h3>
    <%= link_to recipe.title, recipe, class: "text-decoration-none" %>
  </h3>

  <p>
    <%= image_tag(url_for(recipe.image), size: "150x150") if recipe.image.attached? %>
  </p>

</div>