<h1>Rezeptbuch</h1>
<p>Willkommen im Rezeptbuch!</p>


<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render "recipe", recipe: recipe %>
  <% end %>
</div>

<%= link_to "Neues Rezept hinzufügen", new_recipe_path, class: "btn btn-primary" %>